.page-background {
  background-image:
    linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 10%, rgba(255,255,255,0) 90%, rgba(255,255,255,1) 100%),
    url('../../assets/images/restaurant.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: calc(100vh - 200px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  max-width: 400px;
  padding: 20px;
  background-color: rgba(73, 94, 87, 0.9);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.login-container > h2 {
  color: #F4CE14;
  font-family: 'Markazi Text', sans-serif;
  font-size: 40px;
  padding: 0;
  margin: 0 0 3rem 0;
}

.login-form {
  font-family: 'Markazi Text', sans-serif;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  color: white;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.login-button {
  font-weight: 700;
  font-family: 'Karla', sans-serif;
  background-color: #F4CE14;
  color: black;
  padding: 10px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}

.register-link {
  text-align: center;
  margin-top: 15px;
  color: #F4CE14;
}

.register-link a {
  color: #FFFFFF;
  text-decoration: underline;
}